<template name="profileViewItemFullscreenCheckbox">
    <div class="fa-stack fa-stack-checkbox {{#if gotChecked}}{{#if isUnsaved}}unsaved{{else}}checked{{/if}}{{/if}}">
        <i class="fas fa-square fa-stack-2x background"></i>
        <i class="far fa-square fa-stack-2x border"></i>
        {{#if gotChecked}}
            <i class="fas fa-check fa-stack-1x icon"></i>
        {{/if}}
    </div>
</template>
