<template name="filterIndexItemBottomIndex">
    {{#if canDisplayIndex}}
        <a class="resultNavigationElement cardsetIndex"
            title='{{#if this.shuffled}}
                {{_ "cardset.tooltip.indexRep"}}
            {{else}}
                {{_ "cardset.tooltip.indexCardset"}}
            {{/if}}' data-id="{{this._id}}">
            <i class='fas fa-list' data-id="{{this._id}}"></i>
        </a>
    {{/if}}
</template>
