<template name="mainNavigationFooterItemLearning">
    <li class="{{#if isActiveRoute 'learning'}}active{{/if}}">
        <a id="learning" href="{{pathFor route='learning'}}">
            {{{getNavigationName "learning"}}}
        </a>
    </li>
</template>
