<template name="mainNavigationTop">
    {{#if isActiveRoute regex='demolist|presentationlist|makinglist'}}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                {{> mainNavigationTopPresentationIndexItemBack}}
            </div>
        </nav>
    {{else}}
        {{#unless fullscreenActive}}
            {{#if canAccessFrontend}}
                {{#unless isInRole 'firstLogin'}}
                    {{#unless isInRole 'blocked'}}
                        <nav id="navbar-cards-top" class="navbar navbar-default navbar-fixed-top navbar-cards">
                            <div class="container">
                                <div class="visible-xs navbar-header">
                                    <div class="navbar-header-item pull-left top-navigation-name">
                                        {{{getNavigationName}}}
                                    </div>
                                    <div class="navbar-header-item pull-right navbar-header-collapse-item">
                                        <button type="button"
                                                class="navbar-toggle toggle-navbar-collapse needsclick flex-content">
                                            {{{getNavigationIcon "collapse"}}}
                                        </button>
                                    </div>
                                    {{#if isImpressum}}
                                        <div class="navbar-header-item navbar-header-button toggleFooterNavigation needsclick pull-right">
                                            <a href="">
                                                {{{getNavigationName "toggleImpressum"}}}
                                            </a>
                                        </div>
                                        <div class="navbar-header-item navbar-header-button pull-right">
                                            {{> mainNavigationFooterItemStatisticsMobile}}
                                        </div>
                                    {{/if}}
                                    <div class="navbar-header-item pull-right">
                                        {{> mainNavigationTopItemConnectionStatus visibility=0}}
                                    </div>
                                    {{#unless isImpressum}}
                                        {{#unless isPersonalTranscriptsRoute}}
                                            {{#unless isCardsetTranscriptBonusRoute}}
                                                {{#if gotCardsetsForFilter}}
                                                    <div class="navbar-header-item pull-right">
                                                        {{> mainNavigationTopItemSearchMobile}}
                                                    </div>
                                                {{/if}}
                                            {{/unless}}
                                        {{/unless}}
                                    {{/unless}}
                                    {{#if isFilterIndex}}
                                        {{#if gotCardsetsForFilter}}
                                            <div class="navbar-header-item pull-right">
                                                {{> mainNavigationTopItemFilterMobile}}
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                    <div class="navbar-header-item pull-right">
                                        {{> mainNavigationTopItemUseCasesMobile}}
                                    </div>
                                </div>
                                <div class="visible-xs">
                                    {{> mainNavigationFooterDropdownContent}}
                                </div>
                                {{> mainNavigationTopDropdownContent}}
                            </div>
                        </nav>
                    {{/unless}}
                {{/unless}}
            {{/if}}
        {{/unless}}
    {{/if}}
</template>

<template name="mainNavigationTopDropdownContent">
    <div class="collapse navbar-collapse" id="navbar-cards-top-collapse">
        <ul class="nav navbar-nav navbar-left">
            {{> mainNavigationTopItemUseCasesDesktop}}
            {{#unless isPersonalTranscriptsRoute}}
                {{#if gotCardsetsForFilter}}
                    {{> mainNavigationTopItemSearch}}
                {{/if}}
            {{/unless}}
            {{#if isFilterIndex}}
                {{#if gotCardsetsForFilter}}
                    {{> mainNavigationTopItemFilter}}
                {{/if}}
            {{/if}}
            {{#if gotDisplayModeButton}}
                {{#if gotCardsetsForFilter}}
                    {{> mainNavigationTopItemDisplayMode}}
                {{/if}}
            {{/if}}
            {{> mainNavigationTopItemPublic}}
            {{#unless isGuestLogin}}
                {{> mainNavigationTopItemWorkload}}
                {{> mainNavigationTopItemPersonal}}
                {{#if gotTranscriptsEnabled}}
                    {{> mainNavigationTopItemTranscripts}}
                {{/if}}
            {{/unless}}
            {{> mainNavigationTopItemHelp}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#unless isGuestLogin}}
                {{> mainNavigationTopItemAll}}
                {{> mainNavigationTopItemBackend}}
            {{/unless}}
            {{> frontendNotification}}
            {{> mainNavigationTopItemConnectionStatus visibility=1}}
            {{#unless isGuestLogin}}
                {{> mainNavigationTopItemProfile}}
            {{/unless}}
            {{> mainNavigationTopItemLogout}}
        </ul>
    </div>
</template>
